*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: black;

}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: flex-end;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 50px;
}

nav a{
  height: 100%;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  align-items: center;
  color: white;
  transition: background-color 1s, border-radius 0.5s, color 0.5s ease-in-out;
  font-family: Tagesschrift, Arial; /* Font family */
}

nav a:hover{
  background-color: rgba(144, 238, 144, 0.8);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 150px;
  z-index: 999;
  background-color: black;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 20px;
  
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}
.menu-item{
  display: none;
}
@media(max-width: 750px) {
  .menu-item{
    display: block;
  }
  .btn-container {
    align-items: end;
  }
  .home-btn, .about-btn, .project-btn, .contact-btn, .skills-btn {
    display: none;
  }
}

@media(max-width: 400px) {
  .sidebar{
   width: 100%;
  }
 
}

.home-side a{
  background-color: rgba(144, 238, 144, 0.8);
  border-radius: 5px;
}

.home-side a:hover{
  background-color: black;
  color: rgba(144, 238, 144, 0.8);
 
}

